body {
  background-image: url("../img/burgerbackground.jpg");
  
}
.container {

  background-color: peru ;
  opacity: .8;
  border-radius: 10px;
  max-width: 1280px;
  /* margin: ; */
  height: 100%;

}
.title{
  font-family: 'East Sea Dokdo', sans-serif;
  /* font-size: 55px; */
}
h1{
  font-size: 75px;
}
h4{
  font-family: 'Do Hyeon', sans-serif;
  color: wheat;
}

ul {
  list-style-type: none;
padding-left: 0pt;
}

li {
  font-family: 'Do Hyeon', sans-serif;
  
  padding: 10px;
  margin: 5px;
  background: #faebd7;
  border: 2px solid #ebbe91;
  border-radius: 5px;
}
.top-group {
  /* display: flex; */
  align-items: center;
}
.label {
  font-weight: bold;
}

 .create-form {
  padding: 5px;
  margin: 5px;
  /* background: aqua; */
}
/* .create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
} */

.form-group {
  margin-bottom: 5px;
}

/* .menu {
  background-color: peru;
} */
